*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: black;
  height: 40px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

